@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
  margin-bottom: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "polegar" da barra de rolagem */
  border-radius: 6px; /* Arredondamento */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do "polegar" quando está em hover */
}
